html, body{
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    font-family: Arial, sans-serif;
}

.game-board 
{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell:hover
{
    
    background-color: rgb(127, 209, 80);
    transition: background-color 0.5s ease;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.cell {
    color:white;
    transition: color 1s ease-in-out;

    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cell.x::before {
    content: 'X';
    color: #ff0000;
    transition: color 1s ease-in-out;
}

.cell.circle::before {
    content: 'O';
    color: #0000ff;
    transition: color 1s ease-in-out;
}

.winning-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.winning-message.show {
    display: block;
}


.top
{
    background-color: rgba(27, 27, 27, 0.5);
    width: 100%;

    padding-top: 10px; padding-bottom: 10px;
    padding-left: 10px; padding-right: 5px;

    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    flex-direction: flex-start;
    align-items: center;
    
    text-align: center;
}

.top .title
{
    font-size: 25px;
    font-weight: 900;
    color: white;

    padding-right: 30px;
    height: 100%;
}

.top nav a:hover
{
    color: rgb(240, 229, 79);
    transition: color 0.5s ease;
}

.top nav a
{
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding-top: 10px; padding-bottom: 10px;
    padding-right: 10px; padding-right: 10px;
    transition: color 0.5s ease;
}


.game
{
    width: 100%;
    margin-left: 50px; margin-right: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    margin-top: 200px;
    gap: 50px;

    position: relative;
}

.scoreboard
{
    background-color: rgb(87, 84, 84);
    border: solid;
    border-radius: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    gap: 10px;
}

.scoreboard .scores
{
    width: 95%;
    border:solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    padding: 2px;

    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    gap: 10px;
}

.scores .score-cell
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;

    padding: 5px;
    background-color: white;
    border: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 45%;
}

.scoreboard .timer-board
{
    background-color: rgb(39, 38, 38);
    border-style: none;
    border-radius: 8px;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 8px; padding-bottom: 8px;
    padding-left: 5px; padding-right: 5px;
}

.timer-board .timer-fill
{
    width: 100%; height: 100%;
    background-color: rgb(255, 255, 255);
    border-style: solid;
}

.timer-fill div
{
    padding: 2px;
    text-align: center;

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.timer-board #timer
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(228, 56, 56);
}

